@model IEnumerable<SampleMedia>


<div>
  @foreach (var sample in Model)
  {
  <div>

    <img src="@sample.Thumbnail" alt="@sample.Name" />
    <a class="nav-link text-dark" asp-area=""
       asp-controller="Media"
       asp-action="ExtractFaces"
       asp-route-id="@sample.Id">Extract Faces</a>

    <a class="nav-link text-dark" asp-area=""
       asp-controller="Media"
       asp-action="AzureAI"
       asp-route-id="@sample.Id">Azure AI</a>


  </div>}

</div>
