@model UserNotFoundViewModel

<div class="container">
  <div class="lead">
    <h1>External login failed</h1>
    <p>Not User found with provider @Model.Provider</p>
    </br>

    <a class="btn btn-secondary" href="@Model.BackUrl">
      Back to login 
    </a>
  </div>
</div>
