
<div class="login-page" data-test-id="page:success">
  <div class="lead">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h2>Success</h2>
        </div>

        <div class="card-body">
          <div class="alert alert-success" role="alert">
            Your account has been created!

            <br />
            <br />
            <a href="https://magic-media.birbaum.me">Start exploring images and videos...</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
