
<div class="login-page" data-test-id="page:success">
  <div class="lead">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h2>Success</h2>
        </div>

        <div class="card-body">
          <div class="alert alert-success" role="alert">
            Your account has been created!

            <br />
            <p>you can now start to explore photos and videos...</p>
            <br />

            <a href="https://friends.magic-media.io" class="btn btn-primary active">
              🚀 Start the magic
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
